body {
    height: 100%;
    margin: 0;
   
}
h1{
    text-align: center;
    

}
legend{
    color: rgb(21, 22, 22);
}
.login {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%; /* Prend toute la hauteur disponible */
    
}
fieldset {
    border: none;
    padding: 20px;
    background-color: #b3c1c9;
    
}
input[type="text"], input[type="password"], input[type="password"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

input[type="submit"] {
    width: 25%;
    padding: 10px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin: 15px 0 ;
    position: relative;
    top: 30%;
    left: 36%;
    
}

input[type="submit"]:hover {
    background-color: #0056b3;
}